body{
    margin:0;
    font-family: Arial, sans-serif;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#333;
    padding:10px 20px;
}

.logo{
    color:white;
    font-size:24px;
    font-weight:bold;
}

.nav-links{
    list-style:none;
    display:flex;
}

.nav-links li{
    margin-left:20px;
}

.nav-links a{
    color:white;
    text-decoration:none;
}

.nav-links a:hover{
    color:tomato;
}